html,body{
	height: 100%;
}
*{
	
}
header{
	height: 10%;
}
.content{
	height: 80%;
	border:2px solid red;
	
}
.content-left{
	height: 100%;
	width: 50%;
	float: left;
	border:2px solid gray;
}
.content-right{
	height: 100%;
	width: 50%;
	float:left;
	border:2px solid green;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
	.content{
	height: 100%;
	border:2px solid red;
	
	}
	.content-left{
		height: 100%;
		width: 100%;
		border:2px solid gray;
	}
	.content-right{
		height: 100%;
		width: 100%;
		border:2px solid navy;
	}
 }