html,body{
	height: 100%;
}
*{
	
}
header{
	height: 20%;
}
h1{
	font-family: 'cwTeXHei', 'Ubuntu', serif;
	font-size: 1.3em;
	color: #ffffff;
}
h2{
	font-family: 'cwTeXHei', 'Ubuntu', serif;
	font-size: 1.1em;
}
h3{
	font-family: 'cwTeXHei', 'Ubuntu', serif;
	font-size: 1.1em;
	color:#cdb692;
}
.info p{
	font-family: 'cwTeXHei', 'Ubuntu',serif;
	font-size: 1em;
	color: #ffffff;
}
p{
	font-family: 'cwTeXHei', 'Ubuntu',serif;
	font-size: 1em;
}
a{
	font-family: 'cwTeXHei', serif;
	color:#4e5e62;
}
.content-text{
	color: #4e5e62;
}
.content{
	height: 80%;
	/* border:2px solid red; */
	
}
.content-left{
	position: relative;
	height: 100%;
	width: 35%;
	float: left;
	/* border:2px solid gray; */
	margin-left: 10%;
}
.content-right{
	height: 100%;
	width: 40%;
	float:left;
	/* border:2px solid green; */
	margin-left: 5%;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
	.content{
	height: 100%;
	border:2px solid red;
	
	}
	.content-left{
		height: 100%;
		width: 90%;
		border:2px solid gray;
		margin-left: 5%;
	}
	.content-right{
		height: 100%;
		width: 90%;
		border:2px solid navy;
		margin-left: 5%;
	}
	.info{
	position: absolute;
	top:32%;
	right:0;
	width: 65%;
	height: 60%;
	background-image: url(../../image/bg_info_v2.png);
	background-repeat: no-repeat;
    background-size: contain;
	/* border: 1px solid blue; */
	padding: 0.8em;
	}
	.info p{
		font-size: 1em;
	}
 }

.profile-pic img{
	position: relative;
	z-index: 3;
	width: 30%;
	height: auto;
}
.background-spot{
	position: absolute;
	top: 10%;
	max-width:45%;
	margin-left: 15%;
}
.background-spot img{
	width: 100%;
}
.info{
	position: absolute;
	top:32%;
	right:0;
	width: 65%;
	height: 60%;
	background-image: url(../../image/bg_info_v2.png);
	background-repeat: no-repeat;
    background-size: contain;
	/* border: 1px solid blue; */
	padding: 3em;
}
.info img{
	/*width: 100%;*/
}

#tabs-2 img{
	border: 2px solid white;
}